body{
    background-image:url("../images/paper.jpg");
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    margin-left:5%;
}
h1{
    font-size:100px;
    font-weight: bold;
    color:wheat;
    text-align: center;
    text-transform:unset;
    padding-top:5%;
    
}

h2{
    color: wheat;
    text-align: left;
    font-weight: bolder;
    font-size:20px;
}