body{
    background-image:url("../images/paper.jpg");
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    margin-left:5%;
}
h1{
    font-size:100px;
    font-weight: bold;
    color:white;
    text-align: center;
    text-transform:unset;
    padding-top:5%;
    
}

h2{
    color: white;
    text-align: left;
    font-weight: bolder;
    font-size:20px;
    padding-top:2%;
}
#button{
    color: black;
    background-color: white;
    size: 100px;

/* h4{
    font-size: 50px;
    text-align: center;
    color: white;
 }  */

}
h5{
    font-size:50px;
    text-align: center;
    padding-top:0%;
}
.head{
    /* background-color: rgb(204, 66, 170); */
    height: 370px;
    width:100%;
    font-family:  'ZCOOL XiaoWei';

}
@media (min-width: 52px) { 
    /* selecting all elements */
    body{
        background-image: url("../images/paper.jpg");
        color: aliceblue;
        font-family: 'Source Sans Pro', sans-serif;
        scroll-behavior: smooth;
        margin-left:5%;
    }
    h1{
        font-size:60px;
        font-weight: bold;
        color:white;
        text-align: center;
        text-transform:unset;
        padding-top:5%;
        
    }
    
    h2{
        color: white;
        text-align: left;
        font-weight: bolder;
        font-size:20px;
    }
     h4{
        font-size: 70px;
        text-align: center;
        color: white; 
     } 
    #button{
        color: black;
        background-color: white;
        size: 100px;
    
    }
    .head{
        /* background-color: rgb(204, 66, 170); */
        height: 370px;
        width:100%;
        font-family:  'ZCOOL XiaoWei';
    
    }
}